.carrosel-destaque{
  .carousel-item{
      position: relative;
      img{
          filter: brightness(.5);
          height: 840px;
          object-fit: cover;
          width: 100%;
          @include mobile{
            height: 600px;
          }
      }
      .caption-carrosel{
          position: absolute;
          height: 100%;
          width: 100%;
          z-index: 999;
          top: 0;
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          left: 0;
          right: 0;
          h2{
              font-family: neue-regular;
              font-size: 2.5rem;
              color: #fff;
              margin: 1.5rem 0;
              max-width: 650px;
              @include mobile{
                font-size: 1.5rem;
              }
        
          }
          .btn-cta{
              a{
                  color:#fff;
                  border: solid 1px #fff;
                  width: 205px;
                  padding: 1rem 2.3rem;
                  &:hover{
                      background: #fff;
                      color: #232323;
                  }
              }
              .icon-right{
                width: 12px;
                height: inherit;
                margin-left: 1rem;
                filter: none;
              }
          }
      }
  }
}

.carousel .carousel-control.left .fa,
.carousel .carousel-control.right .fa {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
}
.carousel-indicators{
  justify-content: flex-start;
  padding-left: 0;
  margin: 0 auto;
  list-style: none;
  bottom: 10%;
  width: 100%;
}
.carousel .carousel-indicators li {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 100%;
  padding-left: 3px;
  padding-right: 3px;
  background: transparent;
  border:none;
  border-top:solid 1px #ffffff91;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 6px;
  margin-right: 6px;
  text-indent: 0!important;
  margin-right: 2rem!important;
  @include mobile{
    display: none;
  }
}
.carousel .carousel-indicators .active{
  display: inline-block;
}
.carousel .carousel-indicators li h4{
  font-family: neue-regular;
  color: #fff;
  font-size: 1rem;
  margin: .5rem 0;
}
.carousel .carousel-indicators li h5{
  font-family: neue-regular;
  color: #fff;
  font-size: .8rem;
  margin: .5rem 0;
}
.carousel .carousel-indicators li + li {
  margin-left: 6px;
  margin-right: 6px;
}
.carousel .carousel-indicators li.active {

  // margin-left: 6px;
  // margin-right: 6px;
}
.carousel .carousel-indicators li.active::before {
  position: absolute;
  display: inline-block;
  height: 1px;
  background: #ffffff;
  content: "";
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  -webkit-animation: progress 5s linear 0s;
  -moz-animation: progress 5s linear 0s;
  -ms-animation: progress 5s linear 0s;
  -o-animation: progress 5s linear 0s;
  animation: progress 5s linear 0s;
}
.carousel .carousel-indicators li.active ~ li {
  background: none;
}
@-moz-keyframes progress {
  100% {
    right: 0px;
  }
}
@-webkit-keyframes progress {
  100% {
    right: 0px;
  }
}
@-ms-keyframes progress {
  100% {
    right: 0px;
  }
}
@-o-keyframes progress {
  100% {
    right: 0px;
  }
}
@keyframes progress {
  100% {
    right: 0px;
  }
}
  