//Secao unidades
.cont-unidades{
    padding-bottom: 4rem;
    .address{
        h4{
            color: #232323;
            font-size: 1.25rem;
            font-family: neue-regular;
            margin-bottom: 1.65rem;
            display: block;
        }
        .cont-adress{
            display: flex;
            flex-wrap: wrap;
            address{
                width: 50%;
                @include tablet{
                    width: 100%;
                }
                ul{
                    li{
                        font-family: neue-regular;
                        color: #888;
                        font-size: 1.2rem;
                        h5{
                            color: #232323;
                            font-size: 1.17rem;
                            font-family: neue-regular;
                            margin-bottom: .5rem;
                        }
                        a{
                            font-family: neue-regular;
                            color: #888;
                            transition: all ease-in-out .5s;
                            &:hover{
                                color: #232323;
                            }
                        }
                        .email{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .grupo{
        h4{
            color: #232323;
            font-size: 1.25rem;
            font-family: neue-regular;
            margin-bottom: 1.65rem;
            display: block;
        }
        ul{
            display: flex;
            @include tablet{
                flex-direction: column;
            }
            li{
                margin: 0 1rem;
                @include tablet{
                    margin: 0 0 1rem 0;
                }
            }
            li:nth-child(1){
                margin-left: 0;
            }
        }
    }
}
//Section formulário
.form-content{
    background: #000;
    padding-bottom: 3rem;
    .titulo-principal{
        h2{
            color: #fff;
            font-size: 40px;
        }
    }
    .input-item{
        input{
            width: 100%;
            background-color: transparent;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: solid 1px #898989;
            font-family: neue-regular;
            padding:1rem 0;
            color: #fff;
            margin-bottom: 2.7rem;
            outline: none;
            &::placeholder{
                color: #fff;
                opacity: 1;
            }
        }
        textarea{
            width: 100%;
            background-color: transparent;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: solid 1px #898989;
            font-family: neue-regular;
            padding:1rem 0;
            color: #fff;
            margin-bottom: 2.7rem;
            outline: none;
            &::placeholder{
                color: #fff;
                opacity: 1;
            }
        }
    }
    .btn-submit{
        display: flex;
        justify-content: flex-end;
        button{
            width: 175px;
            padding: .8rem 1rem;
            color: #232323;
            font-family: neue-regular;
            border: none;
            background: #fff;
            display: block;
            text-align: center;
            font-size: 1rem;
            transition:  all ease-in-out .5s;
            &:hover{
                background: #00b09b;
            }
            img{
                padding-left: 1rem;
                width: 30px;
            }
    
        }
    }
}