footer{
    background: #000;
    padding-top:4rem;
    @include mobile{
        padding-top: 2rem;
    }
    .links-rapidos{
        padding-bottom: 4rem;
        @include mobile{
            padding-bottom: 0;
        }
        ul{
            margin-bottom: 0;
        }
        li{
            a{
                color: #fff;
                font-family: neue-medium;
                font-size: 2.2rem;
                transition: all ease-in-out .5s;
                text-decoration: none;
                @include mobile{
                    font-size: 1.8rem;
                }
                &:hover{
                    color: #00b09b;
                    
                }
            }
        }
    }
    .newsletter{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .cont-news-letter{
            width: 410px;
            @include tablet{
                width: inherit;
                margin: 2rem 0;

            }
            h5{
                color: #fff;
                font-family: neue-regular;
                margin-bottom: .5rem;
            }
            .cont-form-news{
                display: flex;
                align-items: center;
                border-bottom: solid 1px #898989;
                padding-bottom: .5rem;
                i{
                    color: #fff;
                }
                img{
                    width: 14px; 
                }
                input{
                    width: 90%;
                    background-color: transparent;
                    border:none;
                    font-family: neue-regular;
                    padding: .5rem 0;
                    color: #fff;
                    outline: none;
                    font-size: .8rem;
                    margin-left: .5rem;
                    @include mobile{
                        font-size: 1rem;
                    }
                    &::placeholder{
                        color:#fff;
                        opacity: 1;
                    }
                }
                button{
                    width: 10%;
                    height: 35px;
                    border: none;
                    background: transparent;
                    color: #fff;
                    font-size: .85rem;
                    padding: 0;
                    text-align: right;
                }
            }
            .social-footer{
                display: flex;
                padding-top: .5rem;
                a{
                    color: #898989;
                    font-family: neue-regular;
                    transition: all ease-in-out .5s;
                    font-size: .9rem;
                    margin: 0 1rem;
                    &:hover{
                        color: #fff;
                    }
                }
                a:nth-child(1){
                    margin-left: 0;
                }
            }
        }
    }

}
.copy {
    font-family: neue-regular;
    font-size: .8rem;
    background: #000;
    
    // margin-bottom: 1.5rem;
    @include mobile{
        text-align: center;
    }
    .container{
        border-bottom: solid 1px #898989;
        border-top: solid 1px #898989;
        padding: 1rem 15px;
    }
    span{
        color: #898989;
        @include mobile{
            margin-bottom: .5rem;
            display: block;
        }
    }
    .politicas{
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        a{
            color: #898989;
            font-size: .8rem;
            margin: 0 .5rem;
        }
    }
    .lang{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0;
        @include mobile{
            justify-content: center;
        }
        a{
            color: #898989;
            font-size: .8rem;
            margin: 0 .5rem;
            text-transform: uppercase;
        }
    }
}
.mapa-site{
    background: #000;
    padding-top: 1.5rem;
    .mapa-site-content{
        padding-bottom: 1.5rem;
        .accordions{
            .active{
                i{
                    transform: rotate(180deg);
                }
            }
        }
        .accordion-mapa{
            background:transparent;
            font-family: neue-regular;
            font-size: .9rem;
            color: #fff;
            border: none;
            &:focus{
                outline: none;
            }
            i{
                margin-left: .5rem;
            }
        }
        .panel{
            display: none;
            padding: 2rem 0;
            .links-rapidos{
                padding: 0;
                li{
                    a{
                        color: #fff;
                        font-family: neue-medium;
                        font-size: 1.8rem;
                        transition: all ease-in-out .5s;
                        text-decoration: none;
                        @include mobile{
                            font-size: 1.8rem;
                        }
                        &:hover{
                            color: #00b09b;
                            
                        }
                    }
                }
            }
            .links-categorias{
                .col-lg-6{
                    padding-left: 0;
                }
                li{
                    h5{
                        color: #fff;
                        font-family: neue-medium;
                        font-size: 1.8rem;
                    }
                    a{
                        color: #fff;
                        font-family: neue-regular;
                        font-size: 1.3rem;
                        transition: all ease-in-out .5s;
                    }
                }
                .col-borda{
                    // padding-left: 3rem;
                    // border-left: solid 1px;
                    @include tablet{
                        padding-left: 0;
                        border-left: none;
                    }
                }
                .col-lg-4{
                   @include tablet{
                    padding-left: 0;
                   }

                }
            }
        }
    }
}