// Migalha de pão
.breadcrumbs{
    background: #000;
    padding: .8rem 0;
    .cont-breadcrumbs{
        display: flex;
        a{
            color: #dfdfdf;
            font-family: neue-regular;
            text-decoration: none;
            font-size: .8rem;
            transition: all ease-in-out .5s;
            &:hover{
                color: #00b09b;
                
            }
            &::after{
                content: " / ";
                padding:0 .5rem;
                
            }
        }
        span{
            font-family: neue-regular;
            color: #fff;
            font-size: .8rem;
        }
    }
}
.bloco-texto{
    background: #000;
    padding: 4rem 0 4.5rem 0;
    p{
        font-family: Karla;
        color: #fff;
        font-weight: unset;
        max-width: 650px;
        font-size: .9rem;
        margin-bottom: 1.3rem;
    }
    p:nth-child(1){
        font-family: neue-regular;
        color: #fff;
        font-size: 1.2rem;
        font-weight: unset;
    }
    a{
        font-family: Karla;
        color: #fff;
        text-decoration: underline;
        transition:  all ease-in-out .5s;
        img{
            width: 15px;
            margin-right: 1rem;
        }
        &:hover{
            color: #00B09A;
        }
    }

}
// Títulos paginas iniciais
.titulo-principal{
    padding: 2.5rem 0;
    @include mobile{
        padding: 2rem 0;
    }
    h2{
        font-family: neue-medium;
        font-size:48px;
        line-height: 48px;
        @include mobile{
            font-size: 40px;
            line-height: 40px;  
        }
    }
}
//Btn CTA
.btn-cta{
    margin-top: 1rem;
    a{
        width: 175px;
        padding: .8rem 1.3rem;
        color: #232323;
        font-family: Karla;
        border: solid 1px #232323;
        text-decoration: none;
        display: block;
        text-align: center;
        font-size: .95rem;
        transition:  all ease-in-out .5s;
        &:hover{
            color: #fff;
            background: #232323;
        }
        i{
            padding-left: 1rem;
            font-size: .8rem;
        }

    }
}

//Botão Geral Saiba mais
.btn-saiba{
    a{
        color: #232323;
        font-family: neue-regular;
        font-size: 1rem;
        transition:  all ease-in-out .5s;
        display: flex;
        align-items: center;
        img{
            padding-right: .8rem;
            width: 24px;
        }
    }
}

//Lista de produtos
.cont-lista-produtos{
    display:flex;
    flex-wrap:wrap;
    article{
        width: 255px;
        margin: 0 7px;
        margin-bottom: 2.5rem;
        @include tablet{
            width: 100%;
            margin: 0 0 1.5rem 0;
        }
        .img-destaque{
            background: #f8f8f8;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            height:150px;
            margin-bottom: 1rem;
            @include tablet{
                height: 250px;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                @include tablet{
                    height: 130px;
                }
            }
        }
        h4{
            color: #232323;
            font-family: neue-regular;
            font-size:1rem;
        }
        a{
            color: #232323;
            transition:  all ease-in-out .5s;
        }
    }
    article:nth-child(1){
        margin-left:0;
    }
    article:nth-child(4){
        margin-right:0;
    }
    article:nth-child(5){
        margin-left:0;
    }
    article:nth-child(8){
        margin-right:0;
    }
    article:nth-child(9){
        margin-left:0;
    }
    article:nth-child(12){
        margin-right:0;
    }
    article:nth-child(13){
        margin-left:0;
    }
    article:nth-child(16){
        margin-right:0;
    }
    article:nth-child(17){
        margin-left:0;
    }
    article:nth-child(20){
        margin-right:0;
    }
    article:nth-child(21){
        margin-left:0;
    }
    article:nth-child(24){
        margin-right:0;
    }
}


//Navegação de categoria
.navegacao-categoria{
    margin-bottom: 3rem;
    ul{
        display: flex;
        flex-wrap: wrap;
        padding-bottom:1rem;
        border-bottom: solid 2px #f8f8f8;
        li{
            margin: 0 1rem;
            @include tablet{
                margin: 1rem 1rem;
                margin-left: 0;
            }
            a{
                color: #232323;
                font-family: neue-regular;
                font-size: 1rem;

                i{
                    margin-left: .5rem;
                    font-size: .6rem;
                }
            }
            .dropdown-toggle{
                &::after{
                    border: none;
                    
                }
            }
            .dropdown-item{
                &:active{
                    background: #000;
                }
            }
        }
        li:nth-child(1){
            margin-left: 0;
        }
    }
}


.video-destaque{
    margin-bottom:4rem;
    width: 100%;
    height: 100%;
    @include tablet{
        margin-bottom: 1rem;
    }
}

.visto-recente{
    h2{
        font-family: neue-medium;
        font-size: 2rem;
        color: #232323;
        margin: 4rem 0;
    }
    article{
        margin-bottom: 2.5rem;
        .img-destaque{
            background: #f8f8f8;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            height:150px;
            margin-bottom: 1rem;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        h4{
            color: #232323;
            font-family: neue-regular;
            font-size:1rem;
        }
        a{
            color: #232323;
            transition:  all ease-in-out .5s;
        }
    }
}


.navegacao-projetos{
    padding: 4rem 0;
    ul{
        display: flex;
        margin-bottom: 0;
        li{
            padding: 0 .5rem;
            margin: 0 .5rem;
            a{
                color: #636363;
                font-family: neue-regular;
                text-decoration: none;
                transition: all ease-in-out .5s;
                &:hover{
                    color: #232323;
                }
            }
        }
        li:nth-child(1){
            padding-left: 0;
            margin-left: 0;
        }
        .ativo{
            border-bottom: solid 1px #232323;
            a{
                color: #232323!important;
            }

        }
    }
    
}


.produtos-utilizados{
    margin-bottom: 4rem;
    h3{
        font-family: neue-medium;
        font-size: 2rem;
        color: #232323;
        margin-bottom: 4rem;
    }
    article{
        .img-destaque{
            background: #f8f8f8;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            height:150px;
            margin-bottom: 1rem;
            width: 255px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        h4{
            color: #232323;
            font-family: neue-regular;
            font-size:1rem;
        }
        a{
            color: #232323;
            transition:  all ease-in-out .5s;
            display: flex;
            flex-direction: column;
        }
    }
    .owl-next{
        padding: .6rem 1rem !important;
        background: #fff!important;
        position: absolute;
        top: 110px;
        right: 35px;
        border-radius: 3px;
        width: 40px;
        height: 40px;
        span{
            font-size: 1.3rem;
        }
    }
    .owl-prev{
        padding: .6rem 1rem !important;
        background: #fff!important;
        position: absolute;
        top: 110px;
        left: 35px;
        border-radius: 3px;
        width: 40px;
        height: 40px;
        span{
            font-size: 1.3rem;
        }
    }
}

.produtos-relacionados{
    h2{
        font-family: neue-medium;
        font-size: 2rem;
        color: #232323;
        margin: 4rem 0;
    }
    article{
        margin-bottom: 2.5rem;
        .img-destaque{
            background: #f8f8f8;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            height: 150px;
            margin-bottom: 1rem;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                @include tablet{
                    height: 130px;
                }
            }

        }
        h4{
            color: #232323;
            font-family: neue-regular;
            font-size:1rem;
        }
        a{
            color: #232323;
            transition:  all ease-in-out .5s;
        }
    }
}
.modelos{
    margin-bottom: 2rem;
    h2{
        font-family: neue-medium;
        font-size: 2rem;
        color: #232323;
        margin:2rem 0;
    }
    .acoordions-modelos{
        .accordion-modelo{
            font-family: neue-regular;
            font-size: 2.2rem;
            color: #232323;
            background: transparent;
            width: 100%;
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: solid 1px #ebebed;
            border-top: solid 1px #ebebed;
            padding:.5rem 0;
            .accordion-titulos{
                display: flex;
                align-items: center;
            }
            .icons{
                display:flex;
            }
            h3{
                margin-bottom: 0;
                margin-left: .8rem;
                font-size: 1.6rem;
            }
            .img-titulo{
                width: 50px;
                height: 50px;
                background: #f8f8f8;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &:focus{
                outline: none;
            }
            // i{
            //     font-size: 1.5rem;
            // }
            .minus-icon{
                display: none;
            }

            .download-icon{
                width:20px;
                margin-left:1rem;
            }
            .link-download{
                display: flex;
            }
        }
        .active{
            border-bottom: none;
            .plus-icon{
                display: none;
            }
            .minus-icon{
                display: block;
            }
        }
        .panel{
            display: none;
            padding: 0;
            .table{
                thead{
                    th{
                        border-bottom:none;
                        border-top: none;
                        font-family: neue-regular;
                        color: #232323;
                        font-size: .85rem;
                        padding: .5rem;
                    }
                }
                tbody{
                    font-family: neue-regular;
                    color: #6c6c6c;
                    font-weight: normal;
                    font-size: .85rem;

                    th{
                        font-weight: normal;
                        padding: .5rem;
                    }
                    td{
                        i{
                            color: #232323;
                            margin-left: 1.5rem;
                            cursor: pointer;
                        }
                        img{
                            width: 14px;
                            margin: 0 .5rem;
                        }
                    }
                }
            }
        }
    }
}
.table {
    th{
        padding: .3rem!important;
    }
    td{
        padding: .3rem!important;
    }
}
.modal{
    z-index: 99999999999999999;
}
.modal-backdrop{
    background-color: #1c1c1ce6;
    opacity: 1!important;
}
.modal-detalhe{
    .container-fluid{
        padding: 2.5rem;
        // border: solid 1px #E2E3E6;
        @include tablet{
            padding: 1rem;
        }
    }
    .modal-content{
        border-radius: 0;
    }
    .modal-dialog{
        max-width: 1000px;
        position: relative;
        .close{
            position: absolute;
            top: 120px;
            right: 0;
            background: #fff;
            border-radius: 50%;
            padding: .5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            font-size: 1.2rem;
            cursor: pointer;
            @include tablet{
                z-index: 9999;
                top: 0;
            }
        }
    }
    .modal-body{
        .titulos{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.3rem;
            h3{
                margin-bottom: 0;
                font-family: neue-medium;
                font-size: 1.5rem;
                color: #232323;
            }
            span{
                margin-bottom: 0;
                font-family: neue-medium;
                color: #232323;
            }
        }
        #carrosel-modal{
            .img-destaque{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                height: 250px;
                margin-bottom: 1rem;
                img{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }
            }
            .carousel-indicators{
                width: 100%;
                opacity: 1;
                bottom: -90px;
                justify-content: space-between;
                @include tablet{
                    display: none;
                }
                li{
                    padding: 0;
                    height: 80px;
                    width:80px;
                    opacity: 1;
                    margin: 0!important;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .especificacao{
            @include tablet{
                margin: 3rem 0;
            }
            h4{
                font-family: neue-medium;
                color: #232323;
                font-size: .95rem;
                border-bottom: solid 1px;
                width: max-content;
                padding: 0 1rem .5rem 1rem;
                margin-bottom: 1.5rem;
            }
            .lista-especificacao{
                li{
                    color: #a29e9e;
                    font-size: .9rem;
                    font-family: neue-regular;
                    margin-bottom: .3rem;
                    &::before{
                        content: '\2022';
                        margin: 0 7px;
                        color: #232323;
                    }
                }
                li:nth-child(1){
                    &::before{
                        color: #00B09A;
                    }
                }
            }
            .selos{
                display: flex;
                li{
                    margin: 0 .5rem;
                }
            }
        }
        .downloads{
            h4{
                font-family: neue-medium;
                color: #232323;
                font-size: .95rem;
                border-bottom: solid 1px;
                width: max-content;
                padding: 0 1rem .5rem 1rem;
                margin-bottom: 1.5rem;

            }
            ul{
                li{
                    color: #a29e9e;
                    font-size: .9rem;
                    font-family: neue-regular;
                    margin-bottom: .3rem;
                    display: flex;
                    justify-content: space-between;
                    a{
                        color: #232323;
                        font-size: .85rem;
                        text-decoration: none;
                    }
                }
            }
            .btn-baixar{
                margin-top: 2rem;
                a{
                    background: #000;
                    color: #fff;
                    font-family: neue-regular;
                    text-decoration: none;
                    padding: .85rem 1rem;
                    transition: all ease-in-out .5s;
                    border: solid 1px #000;
                    width: 100%;
                    display: block;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: .8rem;
                    &:hover{
                        color: #232323;
                        background: #fff;
                    }
                    .arrow-right{
                        margin-left: .5rem;
                        width: 15px;

                    }
                }
            }
            
        }
    }
}
.owl-dots{
    display: none;
}

.lightbox{
    .lb-image{
        border-radius:0;
        border:none;
    }
    .lb-nav{
        a.lb-prev{
            width: 30px;
            left: 0;
            background: url('../icons/arrow-white-right.svg') no-repeat;
            transform: rotate(180deg);
            height: 100%;
            top: -47%;
        }
        a.lb-next{
            width: 30px;
            right: 0;
            float: right;
            background: url("../icons/arrow-white-right.svg") no-repeat;
            opacity: 1;
            -webkit-transition: opacity .6s;
            -moz-transition: opacity .6s;
            -o-transition: opacity .6s;
            transition: opacity .6s;
            position: absolute;
            top: 50%;
            height: 100%;
            opacity: 1 !important;
            transform: rotate(360deg);
        }
    }
}

.scroll-top{
    position: fixed;
    top: 92%;
    right: 30px;
    z-index: 1000;
    opacity: 0;
    font-family: neue-regular;

    color: #000;
    // -webkit-transform: rotate(-90deg);
    // transform: rotate(-90deg);
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    a{
        color: #000;
        font-family: neue-regular;
        padding: .3rem;
        background: #fff;
        text-decoration: none;
        height: 60px !important;
        display: block;
    }
    img{
        width: 15px;
    }
}
.scroll-top-home{
    position: fixed;
    top: 92%;
    right: 30px;
    z-index: 1000;
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    a{
        color: #000;
        font-family: neue-regular;
        padding: .3rem;
        background: #000;
        text-decoration: none;
        height: 60px !important;
        display: block;
    }
    img{
        width: 15px;
    }
}
.opacity-scroll{
    opacity: 1!important;
}
.carrosel-prod-utilizados {
    .owl-dots{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 2.5rem;
        .owl-dot{
            width: 25%;
            height: 2px;
            margin: 0;
            background:  #f1f1f1;
        }
        .active{
            background: #000;
            width: 25%;
        }
    }
    .owl-next{
        padding: .6rem 1rem !important;
        position: absolute;
        top: 180px;
        right: 0px;
        border-radius: 3px;
        width: 40px;
        height: 40px;
        span{
            font-size: 1.3rem;
        }
    }
    .owl-prev{
        padding: .6rem 1rem !important;
        position: absolute;
        top: 180px;
        left: 0px;
        border-radius: 3px;
        width: 40px;
        height: 40px;
        span{
            font-size: 1.3rem;
        }
    }
}