.header-site{
    z-index: 9999999999999999999999999;
    position: relative;
    background: #fff;
    .cont-header{
        padding: 1.5rem 15px;
        .row{
            @include tablet{
                flex-wrap: nowrap;
            }
        }
        .menu-busca{
            display: flex;
            align-self: center;
            font-family: neue-regular;
            font-size: .9rem;
            a{
                color: #232323;
                font-family: neue-regular;
                font-size: .9rem;
                display: flex;
                @include tablet{
                    display: none;
                }
                img{
                    margin-right: .7rem;
                    width: 18px;
                }
            }
        }
        .brand{
            text-align: center;
            img{
                width: 240px;
                @include tablet{
                    width: 100%;
                }
            }
        }
        .lang-login{
           
            display: flex;
            justify-content: flex-end;
            @include tablet{
                display: none;
            }
            .lang{
                margin-right:3.5rem;

                a{
                    color: #232323;
                    font-family: neue-regular;
                    text-transform: uppercase;
                    margin-left: .7rem;
                    text-decoration: none;
                    font-size: .85rem;
                }
                .ativo{
                    font-family: neue-medium;
                    color: #232323;
                }
            }
            .login{
                a{
                    color: #232323;
                    font-family: neue-regular;
                    text-decoration: none;
                    font-size: .9rem;

                    img{
                        padding-right: .4rem;
                        width: 20px;
                    }
                }
            }
        }
    }
}