.home{
   footer{
        background: #000;
        padding: 4rem 0;
        .links-rapidos{
            li{
                a{
                    color: #232323;
                    &:hover{
                        color: #00b09b;
                    }
                }
            }
        }
        .newsletter{
            .cont-news-letter{
                h5{
                    color: #fff;
                }
                .cont-form-news{
                    border-bottom: solid 1px #fff;
                    i{
                        color: #fff;
                    }
                    input{

                        color: #fff;
                        &::placeholder{
                            color:#fff;
                            opacity: 1;
                        }
                    }
                    button{
                        color: #fff;
                    }
                }
            }
        }
        .social-footer{
           ul{
               display: flex;
               li{
                   margin: 0 1rem;
               }
                a{
                    color: #898989;
                    &:hover{
                        color: #fff;
                    }
                }
           }
        }
   }
   .copy{
        background: #000;
        border-top:none;
        
        .container{
            border-top: none;
        }
    }
}