.area-linhas{
    margin-bottom: 4rem;
    a{
        text-decoration: none!important;
    }
    .item-linha{
        background: #f8f8f8;
        padding: 1.3rem;
        margin-bottom: 1rem;
        
        h3{
            color: #232323;
            font-family: neue-medium;
            font-size: 2rem;
        }
        span{
            color: #232323;
            font-family: neue-regular;
            font-size:1.4rem;
        }
        .img-destaque{
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 2.5rem 0;
            img{
                width: 285px;
                object-fit: contain;
                height: 190px;
            }
        }
    }
}

.produtos-categoria{
    h2{
        font-family: neue-medium;
        font-size: 2rem;
        color: #232323;
        margin-bottom:4rem;
        @include mobile{
            margin-bottom: 1rem;
        }
    }
}