.mapa-lojas{
    margin-bottom: 2.5rem;
    img{
        width: 100%;
        height: 450px;
        object-fit: cover;
    }
}

.acoordions-local{
    .accordion-lojas{
        font-family: neue-medium;
        font-size: 2.2rem;
        color: #232323;
        background: transparent;
        width: 100%;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px #ebebed;
        border-top: solid 1px #ebebed;
        @include mobile{
            margin: 0;
            padding: 0;
            font-size: 1.5rem;
        }
        
        &:focus{
            outline: none;
        }
        i{
            font-size: 1.5rem;
        }
        .minus-icon{
            display: none;
        }
    }
    .active{
        border-bottom: none;
        .plus-icon{
            display: none;
        }
        .minus-icon{
            display: block;
        }
    }
    .panel{
        display: none;
        padding: 1rem 0;
        ul{
            margin-bottom:4rem;
            li{
                font-family: neue-regular;
                color: #b1b1b1;
                font-size: .95rem;
                display: flex;
                align-items: center;
                a{
                    color: #232323;
                    margin-top: .6rem;
                    display: flex;
                    align-items: center;
                    margin-top: .6rem;
                    margin-right:2rem;
                    transition: all ease-in-out .5s;
                    font-family: neue-regular;

                    &:hover{
                        color: #b1b1b1;
                    }
                    .arrow-right{
                        margin-right:.5rem;
                        width: 11px;
                    }
                }
            }
            li:nth-child(1){
                color: #232323;
                font-size: 1rem;
            }
        }
    }
}
.acoordions-local:last-child {
   margin-bottom: 2.5rem;
}
.atendimento-corporativo{
    padding: 2rem 0;
    h3{
        color: #232323;
        font-size: 1.2rem;
        font-family: neue-regular;
    }
    li{
        font-family: neue-regular;
        color: #232323;
        font-size: 1rem;
        display: flex;
        height: 24px!important;
        align-items: center;
        a{
            color: #b1b1b1!important;
            margin-top: .6rem;
            display: flex;
            align-items: center;
            margin-top: 0!important;
            font-size: .95rem;
            margin-right:2rem;
            transition: all ease-in-out .5s;
            font-family: neue-regular;

            &:hover{
                color: #b1b1b1;
            }
        }
    }
}