.menu{
    width: 55px;
    margin-right: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon{
  display: flex;
  align-items: center;
  margin-right: 3.5rem;
  cursor: pointer;
  .legenda-menu{
    @include tablet{
      opacity: 0;
    }
  }
}


.acoordions-header{
  max-width: 300px;
  // margin-bottom: 1.3rem;
  @include tablet{
    width: 100%;
    max-width: inherit;
  }

  .accordion-menu{
      font-family: neue-regular;
        font-size: 2.4rem;
        color: #fff;
        background: transparent;
        width: 100%;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px #fff;
        transition: all ease-in-out .5s;
        @include mobile{
          font-size: 1.8rem;
        }
        .plus{
          display: flex;
          align-items: center;
        }
        
        .verde-plus{
          display: none;
        }
        &:focus{
            outline: none;
        }
        &:hover{
          color: #00b09b;
          border-bottom: solid 1px   #00b09b;
          .verde-plus{
            display: block;
          }
          .branco-plus{
            display: none;
          }
        }
        i{
            font-size: .9rem;
        }
        .minus{
            display: none;
        }
    }
    .active{
      color: #fff;
      
      .verde-minus{
        display: none;
      }
      &:hover{
        .verde-minus{
          display: block;
        }
        .branco-minus{
          display: none;
        }
      }
      .plus{
          display: none;
      }
      .minus{
          display: flex;
          align-items: center;
      }
    }
    .panel{
        display: none;
        
        a{
            font-family: neue-regular;
            font-size:1.8rem;
            color: #fff;
            text-align: right;
            text-decoration: none;
            transition: all ease-in-out .5s;
            @include mobile{
              font-size: 1.5rem;
            }
            &:hover{
              transition: all ease-in-out .5s;
              color: #00b09b;
            }
        }
    }
}

.menu-list{
  ul{
    max-width: 300px;
    @include tablet{
      width: 100%;
      max-width: inherit;
    }

    li{
      a{
        font-family: neue-regular;
        font-size: 2.4rem;
        color: #fff;
        background: transparent;
        width: 100%;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px #fff;
        transition: all ease-in-out .5s;
        text-decoration: none;
        @include mobile{
          font-size: 1.8rem;
        }
        &:focus{
            outline: none;
        }
        &:hover{
          color: #00b09b;
          border-bottom: solid 1px   #00b09b;
        }
      }
    }
  }
}
.hamburger-menu{
  position: relative;
  margin-right: 1rem;
  span{
    @include tablet{
      opacity: 0;
    }
  }
}
#linha1{
  background: #232323;
  height: 1px;
  width: 30px;
}
#linha2{
  background: #232323;
  height: 1px;
  width: 15px;
  position: absolute;
  transition: .5s ease-in-out;
  right: 0;
  bottom: -5px;
}
#linha2{
     margin: 0.5vh 0 0 0;
 }
 .efeitoLinha1 {
  transform: rotate(45deg);
  top: 0.3vw;
  width: 35px!important;
}
.efeitoLinha2 {
  transform: rotate(-45deg);
  bottom: 0!important;
  width: 35px!important;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 88;
    top: 0;
    left: 0;
    background-color:#000;
    opacity: .8;
    overflow-y: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    padding-top: 0;
  }
  .menu-ativo{
    height: 100%;
    padding-top: 4rem;
  }
  .overlay-content {
    position: relative;
    top: 0;
    width: 100%;
    margin-top:0;
    padding-top: 4rem;
    .social-mobile{
      display: none;
      @include tablet{
        display: flex;
      }
    }
  }

  .mobile-search{
    display: none;
    @include tablet{
      display: block;
      margin: 2.5rem 0;
      a{
        color: #fff;
        font-family: neue-regular;
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        i{
          font-size: 1.2rem;
          margin-right: 1rem;

        }
      }
    }
  }
  .mobile-lang{
    display: none;
    @include tablet{
      display: block;
      
    }
    ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
      li{
        display: flex;
      }
      a{
        color: #fff;
        font-family: neue-regular;
        font-size: 1rem;
        display: block;
        margin-right: 1.5rem;
        text-transform: uppercase;
        i{
          font-size: 1.2rem;
          margin-right: 1rem;
        }
      }
      .ativo{
        color: #fff;
      }
      .login{
        margin-right: 0;
      }
    }
  }

  .overlay .closebtn {
    position: absolute;
    top: -55px;
    right: 155px;
    border: none;
   @include tablet{
     top: -75px;
     right: 15px;
   }
  }


  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }