.novidades-nav{
    margin-bottom: 2.5rem;
    ul{
        display: flex;
        li{
            margin: 0 1rem;
            color: #232323;

        }
        li:nth-child(1){
            margin-left: 0;
        }
        a{
            color: #232323;
        }
    }
}
.cont-novidades{
    .row{
        @include mobile{
            flex-direction: column-reverse;
        }
    }
    article{
        margin-bottom: 3.5rem;
    }
    .info-novidade{
        .data-novidade{
            margin-bottom: .5rem;
            span{
                color: #232323;
                font-family: neue-regular;
                font-size: .8rem;
            }
        }
        .titulo-novidade{
            h3{
                font-family: neue-medium;
                font-size: 2.2rem;
                color: #232323;
                margin-bottom: 1rem;
            }
        }
        .cat{
            a{
                color: #232323;
                font-size: 1.2rem;
                font-family: neue-regular;
                margin-bottom: 1rem;
                display: block;                                                                    

            }
        }
        .content{
            p{
                font-family: Karla;
                color: #b3b3b3;
                font-weight: unset;
                font-size: .96rem;
                max-width: 500px;
            }
        }
    }
    .img-novidade{
        img{
            width: 100%;
            height: 370px;
            object-fit: cover;
            @include mobile{
                height: 270px;
                margin-bottom: 1rem;
            }
        }
    }
}

.novidade-destaque {

    .data-novidade{
        color: #232323;
        font-family: neue-regular;
        font-size: 1rem;
    }
    .titulo-novidade{
        h3{
            font-family: neue-medium;
            font-size: 2.2rem;
            color: #232323;
            margin: 1.5rem 0;
            @include mobile{
                font-size: 2rem;
                margin: 1rem 0;
            }
        }
    }
    .cat{
        a{
            color: #232323;
            font-size: 1.2rem;
            font-family: neue-regular;
            margin-bottom: 1rem;
            display: block;

        }
    }
    .img-destaque{
        margin:4rem 0;
        @include mobile{
            margin: 2rem 0;
        }
        img{
            width: 100%;
            height: 480px;
            object-fit: cover;
            @include mobile{
                height: 250px;
            }
        }

    }
    .content{
        p:nth-child(1){
            font-family: neue-regular;
            color: #232323;
            font-size: 1.2rem;

        }
        p{
            font-family: Karla;
            color: #636363;
            font-weight: unset;
            max-width: 600px;
            font-size: 1rem;
            margin-bottom: 1.3rem;
        }
    }
    .outras-novidades{
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
        font-family: neue-regular;
        margin-bottom: 4rem;
        a{
            color: #232323;
            text-decoration: underline;
            transition: all ease-in-out .5s;
            &:hover{
                color: #636363;
            }
            .arrow-left{
                margin-right: .5rem;
                width: 11px;
            }
            .arrow-right{
                margin-left: .5rem;
                width: 11px;

            }
        }
    }
}