.lista-oportunidades{
    .col-md-6{
        margin-bottom:2.5rem;
        ul{
            li{
                font-family:karla;
                color: #b1b1b1;
                font-size: .95rem;
                margin-bottom: .7rem;
                max-width: 500px;
                h3{
                    font-family: neue-regular;
                    color: #232323;
                    font-size: 1.25rem;
                }
               
                a{
                    color: #232323;
                    margin-top: .6rem;
                    display: flex;
                    align-items: center;
                    margin-top: .6rem;
                    margin-right: 2rem;
                    transition: all ease-in-out .5s;
                    font-family: neue-regular;
                    img{
                        width:12px;
                        margin-right:.5rem;
                    }
                }
            }
        }
    }
}