// Page produtos
.tipo-produtos-destaque{
    margin-bottom: 2.5rem;
    @include tablet{
        margin-bottom: 0;
    }
    .tipo-produto{
        margin-bottom: 2rem;
        a{
            text-decoration: none;
        }
        .img-content{
            img{
                width: 100%;
                height: 370px;
                object-fit: cover;
                @include mobile{
                    height: 240px;
                }
            }
        }
        .titulo-produto{
            margin-top: 1.3rem;
            font-family: neue-medium;
            h3{
                font-size: 2.3rem;
                color: #232323;


            }
        }
    }
}
.produto-lancamento{
    padding: 2.5rem;
    margin-bottom: 2.5rem;
    @include mobile{
        padding: 0 1rem;
    }
    .row{
        @include mobile{
            flex-direction: column-reverse;
        }
    }
    .info-lancamento{
        padding: 0 15px;
        @include mobile{
            padding: 0;
        }
        h3{
            font-family: neue-medium;
            font-size: 2.3rem;
            color: #232323;
            @include mobile{
              text-align: left;
              margin-top: 1.3rem;
            }
        }
        p{
            font-family:Karla;
            color: #707070;
            max-width: 350px;
            text-align: justify;
            font-weight: normal;
            font-size: .9rem;
            @include mobile{
              text-align: left;
            }
        }
        .btn-cta{
            .arrow-right{
                margin-left: .8rem;
                width: 12px;
            }
            @include tablet{
                display: flex;
               
            }
        }   
    }
    .img-lancamento{
        padding: 0 15px;
        @include mobile{
            padding: 0;
        }
        img{
            width: 100%;
            height: 370px;
            object-fit: cover;
            @include tablet{
                height: 240px;
            }
        }
    }
}

.banner-lancamento{
    margin-bottom: 2rem;
    img{
        width: 100%;
        height: 450px;
        object-fit: cover;
        @include tablet{
            height: 210px;
        }
    }
}

