.chamada-destaque{
    padding-top:4rem;
    h1{
        font-family: neue-medium;
        font-size:38px;
        line-height: 38px;
        margin-bottom:2rem;
        @include mobile{
            font-size: 25px;
            line-height: 25px;  
        }
    }
    p{
        font-family: neue-regular;
        max-width: 380px;
        color:#232323;
        font-size:1.1rem;
    }
    @include mobile{
        padding:2rem 0 0 0;
    }
    .carrosel-produto-destaque{
        .img-destaque{
            background: #f8f8f8;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            height: 400px;
            margin-bottom: 1rem;
            @include tablet{
                height: 240px;
                margin-bottom: 0;
            }
            img{
                width: 100%;
                height: inherit;
                object-fit: contain;
            }
        }
    }
    .owl-dots{
        display: flex;
        justify-content: center;
        align-items: center;
        .owl-dot{
            width: 50%;
            height: 2px;
            margin: 0;
            background:  #f1f1f1;
        }
        .active{
            background: #000;
        }
    }
    .owl-next{
        padding: .6rem 1rem !important;
        position: absolute;
        top: 180px;
        right: 0px;
        border-radius: 3px;
        width: 40px;
        height: 40px;
        span{
            font-size: 1.3rem;
        }
    }
    .owl-prev{
        padding: .6rem 1rem !important;
        position: absolute;
        top: 180px;
        left: 0px;
        border-radius: 3px;
        width: 40px;
        height: 40px;
        span{
            font-size: 1.3rem;
        }
    }
}

.caracteristicas{
    padding:0 0 2rem 0;
    h2{
        font-family: neue-medium;
        font-size: 2.2rem;
        color: #232323;
        margin-bottom: 2.5rem;
        @include mobile{
            font-size: 2rem;
            margin: 1rem 0;
        }
    }
    .list-caracteristicas{
        list-style-image: url('../icons/checked.png');
        margin-bottom: 2rem;
        margin-left: 1.4rem;
        // border-right: solid 1px #E2E3E6!important;
        @include mobile{
            padding-left: 0;
        }
        li{
            color: #232323;
            font-size: .95rem;
            font-family: neue-regular;
            margin-bottom: .5rem;
        }    
    }
    .selos{
        display: flex;
        li{
            margin: 0 .5rem;
            img{
                width: 30px;
                height: 30px;
            }
        }
        li:nth-child(1){
            margin-left: 0!important;
        }
    }
}

.projetos-lista{
    padding: 4rem 0 2rem 0;
    background: #000;
    .row{
        margin-bottom: 2rem;
    }
    h2{
        font-family: neue-medium;
        font-size: 2.2rem;
        color: #fff;
        margin-bottom: 2.5rem;
    }
    .light-box-item{
        width: 100%;
        @include mobile{
            display: block;
            margin-bottom: 1rem;
        }
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
            margin-bottom: 2rem;
        }
    }
}