.content-projeto{
    .item-projeto{
        margin-bottom:4rem;
        h3{
            font-size: 2.3rem;
            color: #232323;
            margin-top: 1.3rem;
            font-family: neue-medium;
        }
        a{
            color: #232323;
            text-decoration:none;
        }
    }
    .col-md-6{
        .img-destaque{
            img{
                width: 100%;
                height: 370px;
                object-fit: cover;
                @include mobile{
                    height: 250px;
                }
            }
        }

    }
    .col-md-8, .col-md-4{
        .img-destaque{
            img{
                width: 100%;
                height: 550px;
                object-fit: cover;
                @include mobile{
                    height: 250px;
                }
            }
        }
    }
}


//projeto destaque
.banner-destaque{
    img{
        width: 100%;
    }
}

.info-projeto{
    padding: 4rem 0;
    @include mobile{
        padding: 2rem 0;
    }
    .col-md-4{
        ul{
            li{
                font-family: neue-medium;
                color: #232323;

            }
        }
    }
    .col-md-6{
        h3{
            font-family: neue-medium;
            font-size: 2.4rem;
            line-height: 45px;
            color: #232323;
            margin-bottom: 1.5rem;
            @include mobile{
                font-size: 2.2rem;
            }
        }
        p{
            color: #232323;
            font-family:Karla;
            font-size: 1.1rem;
            margin-bottom: 1.3rem;
        }
        ul{
            li{
                font-family:Karla;
                color: #a29e9e;
                font-size: .8rem;
                @include mobile{
                    font-size: .9rem;
                }
            }
        }
    }
}