.info-sobre{
    padding-bottom:2.5rem;
    h4{
        font-family: neue-regular;
        color: #232323;
        font-size: 1.2rem;
    }
    p{
        font-family: Karla;
        color: #636363;
        font-weight: unset;
        max-width: 600px;
        font-size: 1rem;
        margin-bottom: 1.3rem;
    }
    .item-sobre{
        margin-bottom: 2.2rem;
    }
}