
@import 'responsivo';
@import 'geral';
@import 'footer';
@import 'header';
@import 'home';
@import 'produtos';
@import 'novidades';
@import 'contato';
@import 'produtos-area';
@import 'linhas';
@import 'lojas';
@import 'carrosel-destaque';
@import 'projetos';
@import 'produto-destaque';
@import 'oportunidades';
@import 'sobre';
@import 'menu';


//#232323
//#00B09A
//#707070
//#B6E0DE
//#3D6A66
//#61B8B0

html {scroll-behavior: smooth;}
body{overflow-x: hidden;}

@font-face {
    font-family: neue-medium;
    src: url('fonts/NeueMontreal-Medium.otf');
}

@font-face {
    font-family: neue-regular;
    src: url('fonts/NeueMontreal-Regular.otf');
}


@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,500;0,700;1,400&display=swap');
